@{
    ViewData["Title"] = "Profile";
 
}
    <div class="text-center">
        <h1>Profile</h1>
        <h2>Edit Profile</h2>
        <p>
            You are able to edit your Profile and save your details.
            <br>
            
        </p>
    </div>

