@{
    ViewData["Title"] = "Wolf Sightings";
 
}
    <div class="text-center">
        <h1>Wolf Sightings</h1>
        <br>
        <h2>Inter Miami Stadium</h2>
        <h3>1350 NW 55th St, Fort Lauderdale, FL 33309</h3>
        <br>
        <h2>Lion &Aacute; Eagle English Pub</h2>
        <h3>2401 N Federal Hwy, Boca Raton, FL 33431</h3>
        <br>
        <h2>America's Got Soccer</h2>
        <h3>3488 N Andrews Ave, Oakland Park, FL 33309</h3>
    </div>

