@{
    ViewData["Title"] = "Social Media";
 
}
    <div class="text-center">
        <h1>Follow Us!</h1>
        <h2>Pick the platform and give us a follow</h2>
        <p>
            Facebook, Instagram, Twitter!
            <br>
        </p>
    </div>

