@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Northern Pack CF</h1>
    <h2>Our vision is to build a permanent connection between the community & Inter Miami CF. </h2>
    <p>
        In supporting and promoting Inter Miami CF, The Northern Pack brings the tri-county area together through the game of soccer and community outreach.
        <br>
        Like our motto states, we truly believe that “Soccer Unites Us” / “Futbol Nos Une”.
    </p>
</div>
