@{
    ViewData["Title"] = "About Us";
 
}
    <div class="text-center">
        <h1>Who are we?</h1>
        <h2>The Northern Pack CF</h2>
        <h2 class="text-left">Founded: 2019 </h2>
        <p class="text-black-50">
            The Northern Pack CF is a non-profit official supporters club for Inter Miami CF serving Broward & Palm Beach counties.
            <br>
        </p>
    </div>

